<!DOCTYPE HTML>
<html>
        <head>
                <title>
                        Assignment 10: Workout Database
                </title>
        </head>
        <body>
                {{{body}}}
        </body>
</html>

